# Core LangChain
langchain==0.1.20
langchain-community
langchain-google-genai
langchain-huggingface
langchain-pinecone
langchain-text-splitters

# Pinecone
pinecone-client

# Outras dependências de IA
sentence-transformers
wikipedia
tqdm

# API e Servidor
fastapi
uvicorn[standard]

# Utilitários
python-dotenv